* {
  box-sizing: border-box;
}

html {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.4px;
  --accent-color: rgb(6, 20, 146);
}

body {
  margin: 0;
  background-color: #DBDBDB;

  &.modal-open {
    overflow: hidden;
  }
}

h1, h2, p {
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.share-modal-open {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  transition-duration: .15s;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img__wrapper {
  width: 2.75rem;
  height: 2.75rem;

  img {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: block;
    object-fit: cover;
  }

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-align: center;
  width: 100%;
  inset: 0 0 auto 0;
  border: 1px solid transparent;
  border-radius: 4.5rem;
  background-color: transparent;
  transition: background-color 150ms ease 0s, -webkit-transform 150ms ease 0s, -webkit-backdrop-filter 150ms ease 0s;
  position: fixed;
  margin: 0.5rem auto;
  padding: 0.5rem 0.75rem;
  z-index: 2;

  @media (min-width: 768px) {
    max-width: 36.5rem;
  }

  @media screen and (min-width: 576px) {
    padding-right: 0.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-top: 0.938rem;
    margin-bottom: 0.938rem;
  }

  &--scroll {
    width: calc(100% - 24px);
    border: 1px solid rgb(235, 238, 241);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);

    .header__img {
      opacity: 1;
    }

    .header__title {
      opacity: 1;
    }

    .header__button {
      background-color: #000;
      border-color: #000;
      color: #fff;
    }
  }

  // .header__img
  &__img {
    opacity: 0;

    img {
    }
  }

  // .header__title
  &__title {
    font-weight: 600;
    font-size: 1rem;
    opacity: 0;
  }

  // .header__button
  &__button {
    background-color: rgb(235 235 235);
    border-color: rgb(235 235 235);
    color: #000;
  }
}

.main {
  min-height: 100dvh;
  position: relative;

  &__wrapper {
    padding: 4rem 1rem 2rem;

    @media screen and (min-width: 576px) {
      padding-bottom: 4rem;
    }
  }

  &__container {
    margin: 0 auto;
    max-width: 36.25rem;
  }
}

.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;

  // .slogan__img
  &__img {
    width: 6rem;
    height: 6rem;
    margin-bottom: 1rem;

    img {
      width: 6rem;
      height: 6rem;
    }
  }

  // .slogan__title
  &__title {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 1.25rem;
  }

  // .slogan__description
  &__description {
    color: var(--accent-color);
    font-size: 1rem;
    font-weight: 500;
  }
}

.menu {
  margin-bottom: 2rem;

  // .menu__items
  &__items {
  }

  // .menu__item
  &__item {
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
    margin-bottom: 1rem;
    border: 2px solid var(--accent-color);
    background-color: transparent;
    color: var(--accent-color);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 1rem 2.75rem;

    &:last-child {
      margin-bottom: 0;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--accent-color);

        .menu__link {
          color: #fff;
        }

        .menu__button {
          display: block;
        }
      }
    }
  }

  // .menu__link
  &__link {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--accent-color);
  }

  // .menu__button
  &__button {
    display: none;
    position: absolute;
    inset: 0 0 0 auto;
    margin: auto 0;
    background-color: transparent;
    border-color: transparent;

    @media (min-width: 576px) {
      right: .5rem;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(0, 0, 0, .1);
      }
    }
  }
}

.socials {
  // .socials__items
  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  // .socials__item
  &__item {
  }

  // .socials__link
  &__link {
    display: block;
    transition: transform 0s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    z-index: 1;
    fill: var(--accent-color);
    width: 2rem;
    height: 2rem;

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.075);
      }
    }
  }
}

/*------------------------- Modal start -------------------------*/
.modal {
  opacity: 0;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(10, 11, 13, 0.6);
  transition: opacity .3s;

  &__open {
    opacity: 1;
    transform: translateY(0);
    z-index: 3;

    .modal__content {
      transform: translateY(0);
    }
  }

  &__content {
    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem 0.5rem;
    margin: 0 auto;
    width: 100%;
    max-width: 32.5rem;
    height: 100%;
    position: relative;
    transform: translateY(-100%);
    transition: transform .3s;
  }

  &__close {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: unset;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      background-color: rgb(243, 243, 241);
    }
  }

  .modal-content {

    .content-top {
        position: relative;
        margin-bottom: 2.5rem;

        &__title {
          text-align: center;
          font-weight: 600;
        }
    }

    .content-bottom {

    }
  }

  &__share {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: transparent;
    transition: background-color 0.1s ease-in 0s;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: #000;

    &:hover {
      background: rgb(243, 243, 241);
    }

    .share-icon {
      width: 1.5rem;
      height: 1.5rem;
    }

    .share-arrow {
      width: 1rem;
      height: 1rem;
      margin-left: auto;
    }
  }
}

/*------------------------- Modal end -------------------------*/

